template(name='addPlan')
  h4.text-center Add a Battle Plan Form your GitHub Repos
  if (currentUser)
    if (getUserArmoryRepos)
      h5  Click add to add one of your repos
      table.table.table-striped.table-hover
        thead
          tr
            th #
            |       
            th Name
            |       
            th url
            |     
            th tag
        tbody
          each getUserArmoryRepos
            tr
              td
                button(id=name).addBp add
              |       
              td= armory_info.name
              |       
              td= url
              |       
              td= armory_info.tags

    if (isLoading)
      p .
    else 
      .sk-spinner.sk-spinner-cube-grid
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
