template(name='searchLayout')
  +momentum plugin='fade'
    a(href="/")
      .cross X esc
    .content-search
      header
        | {{> sAlert}}
      +momentum plugin='fade'
        main
          | {{> Template.dynamic template=content }}
