template(name='search')
  .search
    h1.title Search for OCT Battle Plans
    form.center-block(role='search')
      div.form-group
        input.form-control(type='text', placeholder='Search', id='search_input')
  if (searchLoading)
    div.text-center
      .sk-spinner.sk-spinner-cube-grid.my-spinner
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
  else if (getSearchRes)
    div.text-center
    each (getSearchRes)
      | {{> planBox bp=getSearchRes}}
  else
    h2.text-center No Battle Plans match your request