template(name='search')
  .search
    h1.title Search for OCT Battle Plans
    form.center-block(role='search')
      div.form-group
        input.form-control(type='text', placeholder='Search', id='search_input')
  if (searchLoading)
    h4 loading ...
  else if (getSearchRes)
    each (getSearchRes)
      | {{> planBox bp=getSearchRes}}
  else
    h2 No Battle Plans match your request