template(name='search')
  .search
    h1.title {{_ "search.title"}}
    form.center-block(role='search')
      div.form-group
        input.form-control(type='text', placeholder='TODO HERE', id='search_input')
  if (searchLoading)
    div.text-center
      .sk-spinner.sk-spinner-cube-grid.my-spinner
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
    h4 {{_ "search.loading"}}
  else if (getSearchRes)
    div.text-center
    each (getSearchRes)
      | {{> planBox bp=getSearchRes}}
  else
    h2 {{_ "search.not_found"}}
