template(name='nav')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='true')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      div.row
        div.col-xs-12.col-sm-3
          form.navbar-form(role='search')
            div.form-group
              input.form-control(type='text', placeholder='Search')
        div.col-xs-12.col-sm-6
          a.navbar-brand(href='/') ARMORY
        div.col-xs-12.col-sm-3
          ul.nav.navbar-nav.pull-right
             li.dropdown
               a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                 unless (currentUser)
                   | Login 
                   span.caret
                 else
                   | My Account
               |           
               ul.dropdown-menu(role='menu')
                 li
                   a(href='#') {{> loginButtons}}
                   |             
                 if (currentUser)             
                   li
                     a(href='/users/') Profile
                   |             
                   li
                     a(href='/plans/{{currentUser}}') My BP
                   |             
                   li.divider
                   |             
                   li
                     a(href='/stared') Stared
                   |             
                   li.divider
                   |             
                   li
                     a(href='/plan/add') Add Bp
           |       

