template(name='mainLayout')
  .content
    nav.nav-header
      .navbar.navbar-default.navbar-fixed-top.navbar-layout
        | {{> Template.dynamic template=nav }}
    header
      | {{> sAlert}}
    main
      | {{> Template.dynamic template=content }}

  | {{> footer }}
