template(name='mainLayout')
  .content-main
    | {{> Template.dynamic template=nav }}
    header
      | {{> sAlert}}
    +momentum plugin='fade'
        main
          | {{> Template.dynamic template=content }}
          #push

  | {{> footer }}
