template(name='footer')
  footer.footer
    .navbar
      .container
        .row
          .col-xs-12.col-sm-6
            h5 Discover Open Charge Tester
            p You can use Oct today it's very easy you will see.
          .col-xs-12.col-sm-4
            ul.list-group
              li.list-group-item
                a OCT Documentation
              li.list-group-item
                a OCT on Social media
              li.list-group-item
                a About OCT Armory
              li.list-group-item
                a Conctact Us
      div
        .container
          | © 2016 Copyright The Ghouls
          a(classname='grey-text text-darken-4 right', href='#!') More about the Ghouls
