template(name='planBox')
  .row
    +momentum plugin='fade'
      each (bp)
        .col-md-3
          a(href="/user/#{owner_name}/#{name}")
            div.panel.panel-default.span3
              div.panel-body
                h4= name
                p= short_description
