template(name='plan')
  if (isLoaded)
    if (getPlan)
      h2.text-center Plan infos
      h4 Name: {{getPlan.name}}
      h4 Repo Url: 
        a(href= getPlan.gh_repo_url) {{getPlan.gh_repo_url}}
    else 
      h4 no plan found
  else 
    .sk-spinner.sk-spinner-cube-grid
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube

