template(name='mainLayout')
  nav
    | {{>Template.dynamic template=nav}}
  header
    h1.center Oct Armory
    if (getError)
      | {{> appError err=getError}}
  main
    | {{>Template.dynamic template=content}}
  
  footer.container We love Meteor