template(name='mainLayout')
  .content
    nav.navbar.navbar-default.navbar-fixed-top.navbar-layout
      | {{>Template.dynamic template=nav}}
    header
      if (getError)
        | {{> appError err=getError}}
    main
      | {{>Template.dynamic template=content}}
  
  footer.container We love Meteor
