template(name='mainLayout')
  nav
    | {{>Template.dynamic template=nav}}
  header
    h1.center Oct Armory
    | {{> sAlert}}
  main
    | {{>Template.dynamic template=content}}
  
  footer.container We love Meteor