template(name='plan')
  if (isLoaded)
    if (getPlan)
      h2.text-center {{_ "plan.infos"}}
      h4 Name: {{getPlan.name}}
      h4 {{_ "plan.repo_url"}}
        a(href= getPlan.gh_repo_url) {{getPlan.gh_repo_url}}
    else
      h4 {{_ "plan.none"}}
  else
    .sk-spinner.sk-spinner-cube-grid
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube
        .sk-cube

